<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="Report.Listeners"/>
    </listeners>>
    <parameter name="BrowserName" value="chrome"></parameter>
    <test verbose="2" preserve-order="true" name="D:/Repo/GET.Task">
        <classes>
            <class name="tests.SignUpTest">
                <methods>
                    <include name="successfulRegistration"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>